################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amazing-Banking-App.slnx/FileContentIndex
/.vs/Amazing-Banking-App.slnx/v18
/.vs
/Amazings API/obj
/Amazings API/bin/Debug/net8.0
